img.neomind_logo {
    border:none !important; background:none !important; box-shadow:none !important;
    height:1em; position:relative; top:.4em; left:-.1em
}
label {
    display: block;
    width: 90%;
    margin: 0 auto -1.25em auto !important;
    text-align: right;
    font-size: 55% !important;
}
